stages:
  - build
  - test
  - deploy

variables:
  DOCKER_IMAGE: "frontend-app"

frontend:
  stage: build
  script:
    - apt-get update -y
    - apt-get upgrade -y
    - sudo apt-get clean
    - sudo apt-get remove containerd.io
    - sudo apt-get install -y docker.io
    - sudo systemctl start docker
    - echo "DOCKER_BUILDKIT=1" | sudo tee -a /etc/environment
    - docker build -t $DOCKER_IMAGE .
    - docker run -d -p 3000:3000 $DOCKER_IMAGE
